.c-movies-list{
	margin-bottom: 40px;
	overflow: hidden;
	width: 100%;

	.movie-lsit-wrap{
		@media (max-width: 767px){
			max-width: 270px;
			padding: 0;
			width: 100%;

			.slick-slide{
				transform: translateX(30px);
				transition: transform .35s;

				&.slick-current.slick-active{
					transform: translateX(0px);
					& + .slick-slide{
						transform: translateX(-30px);
					}
				}
			}

			.slick-list{
				overflow: visible;
			}
			.movie-item{
				.img{
					transform: scale(0.8);
					filter: blur(2px);
					transition: transform 0.35s, filter .35s;
					overflow: visible;
					border-radius: 0;

					img{
						border-radius: 10px;
					}

					&:after{
						content: "";
					    display: block;
					    position: absolute;
					    bottom: -20px;
					    left: 50%;
					    transform: translate3D(-50%, 0, 0);
						transition: opacity .35s;
					    background: url('../img/movie-posters/poster-shadow.png') no-repeat center center / cover;
					    width: 247px;
					    height: 13px;
					    opacity: 1;
					}
				}
				.stamp,
				.action,
				.info{
					opacity: 0;
					transition: opacity 0.35s;
				}
				.action,
				.info{
					transform: translateZ(0);
				}
			}
			.slick-active{
				.movie-item{
					.img{
						transform: scale(1);
						filter: blur(0px);
						transition: transform 0.35s, filter .35s;
						&:after{
							opacity: 0;
						}
					}
					.stamp,
					.action,
					.info{
						opacity: 1;
					}
				}
			}
		}
	}	
	.list-main-action{
		text-align: center;
		margin: 20px 0 60px;
		@media (max-width: 767px){
			display: none;
		}
	}
	.list-tabs{
		margin: 40px 0;
		
		@media (max-width: 1400px){
			margin: 30px 0;
		}

		@media (max-width: 767px){
			text-align: center;
		}

		a{
			font-size: 25px;
			line-height: 1em;
			text-transform: uppercase;
			color: #6f6f6f;
			padding-right: 40px;
			margin-right: 40px;
			border-right: 1px solid #dadada;
			position: relative;

			@media (max-width: 1800px){
				font-size: 23px;
			}
			@media (max-width: 1400px){
				font-size: 18px;
			}
			@media (max-width: 767px){
				font-size: 16px;
				margin-right: 20px;
				padding-right: 20px;
				min-width: 114px;
				display: inline-block;
				box-sizing: content-box;
				text-align: right;
			}

			&:last-child{
				border-right: 0;
				margin-right: 0;
				padding-right: 0;
				padding-left: 0;
			}
			span{
				position: relative;
				display: inline-block;
				/*&:before,
				&:after{
					content: '';
					display: block;
					position: absolute;
					background: #6e3996;
					bottom: 100%;
					margin-bottom: 4px;
					width: 0%;
					height: 3px;
					left: 50%;
					transform: translateX(-50%);
					transition: all .35s;
					border-radius: 999px;
				}*/
				&:after{
					display: none;
					top: 100%;
					bottom: auto;
					margin-top: 4px;
					margin-bottom: 0; 
				}
			}

			&.is--active{
				color: #6e3996;
				span{
					&:before,
					&:after{
						width: 100%;
					}
				}
			}
		}
	}
	.stamp{
		display: block;
		width: 40px;
		height: 40px;
		font-size: 13px;
		line-height: 0.9em;
		color: #fff;
		text-align: center;
		display: flex;
		background: #6e3996;
		border-radius: 999px;
	    justify-content: center;
	    align-items: center;
	}
	.list-wrap{
		display: flex;
		margin: 0 -10px;
		@media (max-width: 1400px){
			margin: 0 -5px;
		}
	}
	.movie-item{
		padding: 0 10px;
		margin-bottom: 20px;
		position: relative;
		@media (max-width: 1400px){
			padding: 0 5px;
			margin-bottom: 10px;
		}
		@media (max-width: 767px){
			padding: 0;
		}

		&.is--active{
			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 10px;
				background: linear-gradient(to bottom, rgba(0,0,0,0.5) 75%,rgba(0,0,0,1) 100%);
				height: 100%;
				width: calc(100% - 20px);
				z-index: 5;
				border-radius: 5px;
				@media (max-width: 1400px){
					left: 5px;
					width: calc(100% - 10px);
				}
			    @media (max-width: 767px){
			    	display: none;
			    }
			}
			&:after{
				content: "";
				display: block;
				position: absolute;
				bottom: -20px; 
				left: 10px;
				width: calc(100% - 20px);
				height: 21px;
				background: #000;
				@media (max-width: 1400px){
					left: 5px;
					width: calc(100% - 10px);
				}
			    @media (max-width: 767px){
			    	display: none;
			    }
			}
			.item-wrap:hover .img:before{
				opacity: 0;
			}
			.stamp,
			.info{
				opacity: 0;

		    	@media (max-width: 767px){
		    		opacity: 1;
		    	}
			}
		}

		.item-details{
			display: none;
		}
		.item-wrap{
			position: relative;
			border-radius: 5px;
			overflow: hidden;
			cursor: pointer;
			@media (max-width: 767px){
				text-align: center;
			}

			.action{
				display: none;
				margin-top: 20px;
				a{ 
					margin-right: 10px;
					&:last-child{
						margin-right: 0;
					}
				}
	    		@media (max-width: 767px){
	    			display: block;
	    		}
	    		.c-btn-glow{
	    			box-shadow: none;
					font-weight: normal;
	    		}
				.c-btn-white{
					background: #e5e5e5;
					box-shadow: none;
					font-weight: normal;
				}
			}
			
			@media (min-width: 1025px){
				&:hover{
					.img{
						&:before{
							opacity: 1;
						}
					}
					.info{
						background: #6e3996;
						.name{
							color: #fff;
						}
						.detail{
							max-height: 50px;
							color: #fff;
						}
					}
				}
			}
		}
		.img{
			position: relative;
			border-radius: 7px;
			overflow: hidden;

			@media (max-width: 767px){
				margin: 0 auto;
				display: inline-block;
			}

			&:before{
				content: '';
				display: block;
				background: rgba(0,0,0,0.8);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: opacity .35s;

			    @media (max-width: 767px){
			    	display: none;
			    }
			}

			img{
				display: block;
			}
		}
		.stamp{
			position: absolute;
			top: 10px;
			right: 10px;

			@media (max-width: 767px){
			    right: 50%;
			    transform: translateX(104px);
			    font-size: 12px;
			}
		}
		.info{
			display: inline-block;
			background: #6e3996;
			display: flex; 
			text-align: center; 
		    justify-content: center;
		    align-items: center;
		    min-height: 68px;
		    padding: 20px;
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    flex-direction: column;
		    width: 100%;
		    transition: all .35s;
		    border-radius: 0 0 5px 5px;

		    @media (max-width: 1600px){
		    	padding-right: 15px;
		    	padding-left: 15px;
		    }
		    @media (max-width: 1400px){
		    	padding: 10px 15px;
		    }
		    @media (max-width: 767px){
		    	background: transparent;
		    	position: relative;
		    } 

			.name{
				font-size: 16px;
				line-height: 1.2em;
				color: #FFF;
				display: block;
		    	transition: all .35s;

		    	@media (max-width: 767px){
		    		font-size: 23px;
		    		font-weight: bold;
		    	}
			}
			.detail{
				font-size: 14px;
				line-height: 1em;
				max-height: 0;
				overflow: hidden;
		    	transition: all .35s;
				color: #2d2d2d;

				@media (max-width: 1600px){
					font-size: 13px;
				}
		    	@media (max-width: 767px){
		    		max-height: none;
		    		font-size: 15px;
		    	}

		    	.detail-inner-wrap{
		    		padding-top: 10px;
		    		@media (max-width: 767px){
		    			padding-top: 7px;
		    		}
		    	}
			}
		}
	}

	.movie-details{
		padding-bottom: 20px;	
		.btn-close{
			border-radius: 999px;
			background: rgba(0,0,0,0.3);
			overflow: hidden;
			position: absolute;
			top: 20px; 
			right: 20px;
			transform: rotateZ(45deg);
			display: block;
			z-index: 10;
			width: 45px;
			height: 45px;
			&:hover {
				transform: rotate(140deg);
			}
			@media (max-width: 1023px){
				width:  35px; 
				height: 35px;
				top: 15px;
				right: 10px; 
			}
			.txt{
				display: none;
			}
			i{
				position: absolute;
				width: 2px;
				height: 17px;
				background: #fff;
				border-radius: 2px;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;

				&:nth-child(2){
					width: 17px;
					height: 2px;
				}
			}
		}
		.item-details{  
			background: #FFF;
			position: relative;
			border-radius: 7px;
			&.is--last-item{ 	border-radius: 7px 0px 7px 7px; }
			&.is--first-item{ 	border-radius: 0 7px 7px 7px; }
		}
		.title-wrap{
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			.stamp{
				margin-left: 20px;
			}
		}
		.img{
			position: absolute; 
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			overflow: hidden;
			text-align: right;
			//mix-blend-mode: multiply;	
			&:before{
				content:'';
				display: block;
				width:100%;
				height: 100%;
				background: url("/assets/img/movie-posters/movie-cover-overlay.png") no-repeat left top;
				position:absolute; 
				z-index: 2;
				left: 0;  
				top: 0; 
			} 
			img{  
				display: block;
				height: 100%;
				width: auto;
				margin: 0 0 0 auto;
				@media (max-width: 1200px){
					position: relative;
					right: -150px;
				}
			}
			@media (max-width: 1023px){
				display: none;
			}
		}
		.text{
			position: relative;
			z-index: 5;
			padding: 58px;
			@media (max-width: 1500px){
				padding: 40px 50px;
			}
		} 
		.title{
			font-size: 55px;
			line-height: 1em;
			color: #FFF;
			font-weight: bold;
			@media (max-width: 1800px){
				font-size: 45px;
			}
			@media (max-width: 1500px){
				font-size: 40px;
			}
			@media (max-width: 1023px){
				font-size: 35px;
			}
		}
			.info{
			font-size: 12px;
			color: #FFF;
			line-height: 1.2em;
			margin: 5px 0;
			max-width: 420px;

			@media (max-width: 1500px){
				font-size: 12px;
				margin: 2px 0;
			}  

			&.has-lsit{
				display: flex;
				align-items: center;
				max-width: none;
			}
			strong{
				font-weight: bold;
				margin-right: 5px;
			}
		}
		.exp-list{
			list-style: none;
			margin: 20px 0;
			padding: 0;
			display: flex;
			@media (max-width: 1500px){
				margin: 15px 0;
			}
			li{
				padding-left: 20px;
				&:first-child{
					padding-left: 10px;
				}
			}
			img{
				max-height: 27px;
			}
		}
		.action{
			margin-top: 30px;
			a{
				margin-right: 30px;
				//min-width: 160px;
			}
		} 
		.genere {
				line-height: 1.4em;
			text-transform:uppercase;
			span{
					display: inline-block;
					margin: 0 5px;

					&:first-child{ 
						margin-left: 0;
					} 
					&:last-child{
						margin-right: 20px;
						&:after{
							display: none;
						}
					}

					&:after{ 
						content: '|';
						margin-left: 10px;
					}
				}
		} 
		.duration, .language {
			display: inline-block;
			text-transform:uppercase; 
			margin: 5px 0;
		.icon {
				display:inline-block;  
				width: 20px;  
				height:20px;
				/*background: url("/assets/img/icons/duration.png") no-repeat left top;*/ 
				position: relative;
				top: 6px; 
				margin-right: 15px;
			svg  { 
  				fill: #FFFFFF;
				
			}
			}
		.medium {
				width: 25px !important;
				top:5px;
				left: 3px;
				margin-left: 10px;
			}
			span {
				font-weight: 400;
				display: inline-block;
				margin-right: 15px;				
			}
			.margin-right {
				margin-right:25px;
				
			}
		}
	}
}